<template>
  <el-card>
    <el-table border :data="skuList">
      <el-table-column type="index" label="序号" width="80" align="center"></el-table-column>
      <el-table-column label="名称" width="200" prop="skuName"></el-table-column>
      <el-table-column label="描述" width="200" prop="skuDesc"></el-table-column>
      <el-table-column label="默认图片" width="200">
        <template #="{ row }">
          <img :src="row.skuDefaultImg" alt="" width="100" height="100">
        </template>
      </el-table-column>
      <el-table-column label="重量(g)" width="200" prop="weight"></el-table-column>
      <el-table-column label="价格(元)" width="200" prop="price"></el-table-column>
      <el-table-column label="操作" fixed="right" width="240">
        <template #="{ row }">
          <el-button :icon="row.isSale === 0?'Top':'Bottom'" type="primary" size="small" @click="updateSale(row)"></el-button>
          <el-button icon="Edit" type="primary" size="small" @click="editSku(row)"></el-button>
          <el-button icon="InfoFilled" type="primary" size="small" @click="showSkuInfo(row)"></el-button>

          <el-popconfirm title="确定要删除当前sky吗？" width="200" @confirm="deletSKu(row)">
            <template #reference>
              <el-button icon="Delete" type="primary" size="small"></el-button>
            </template>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      class="m-t-12"
      v-model:current-page="currentPage"
      v-model:page-size="pageSize"
      :page-sizes="[10, 20, 30, 40]"
      layout="prev, pager, next, jumper, ->, sizes, total"
      :total="total"
      @size-change="querySkuList(1)"
      @current-change="querySkuList"/>
  </el-card>

  <el-drawer
    v-model="drawer"
    size="50%"
    title="查看商品详情">
    <el-row class="m-b-10">
      <el-col :span="6">名称</el-col>
      <el-col :span="18">{{ skuInfo.skuName }}</el-col>
    </el-row>
<!-- 
    <el-row class="m-b-10">
      <el-col :span="6">名称</el-col>
      <el-col :span="18">{{ skuInfo.skuName }}</el-col>
    </el-row> -->

    <el-row class="m-b-10">
      <el-col :span="6">描述</el-col>
      <el-col :span="18">{{ skuInfo.skuDesc }}</el-col>
    </el-row>

    <el-row class="m-b-10">
      <el-col :span="6">价格</el-col>
      <el-col :span="18">{{ skuInfo.price }}</el-col>
    </el-row>

    <el-row class="m-b-10">
      <el-col :span="6">平台属性</el-col>
      <el-col :span="18">
        <el-tag v-for="item in skuInfo.skuAttrValueList">{{ item.attrName }}</el-tag>
      </el-col>
    </el-row>

    <el-row class="m-b-10">
      <el-col :span="6">销售属性</el-col>
      <el-col :span="18">
        <el-tag v-for="item in skuInfo.skuSaleAttrValueList">{{ item.saleAttrValueName }}</el-tag>
      </el-col>
    </el-row>

    <el-row class="m-b-10">
      <el-col :span="6">商品图片</el-col>
      <el-col :span="18">
        <el-carousel height="200px" :interval="4000" type="card">
          <el-carousel-item v-for="item in skuInfo.skuImageList" :key="item.id">
            <img :src="item.imgUrl" alt="" style="width: 100%;height: 100%;">
          </el-carousel-item>
        </el-carousel>
      </el-col>
    </el-row>
  </el-drawer>
</template>

<script setup lang='ts'>
  import { ref } from 'vue';
  import { reqSkuList, reqCacelSale, reqOnsale, reqSkuIndo, reqDeleteSku } from "@/apis/product/sku"
  import { ElMessage } from 'element-plus';

  let drawer = ref(false)

  let currentPage = ref(1),
    pageSize = ref(10),
    total = ref(0);
  let skuList = ref([]);

  const querySkuList = async (page = 1) => {
    currentPage.value = page
    let result:any = await reqSkuList(currentPage.value, pageSize.value);
    if(result.code === 200) {
      total.value = result.data.total;
      skuList.value = result.data.records;
    }
  }

  querySkuList()

  const updateSale = async (row:any) => {
    // 为 0 时表示下架，点击按钮进行上架
    if(row.isSale === 0) {
      let result:any = await reqOnsale(row.id);
      if(result.code === 200) {
        ElMessage({
          type: "success",
          message: "上架成功"
        })
        querySkuList(currentPage.value)
      } else {
        ElMessage({
          type: "error",
          message: "上架失败"
        })
      }
    } else {
      let result:any = await reqCacelSale(row.id);
      if(result.code === 200) {
        ElMessage({
          type: "success",
          message: "下架成功"
        })
        querySkuList(currentPage.value)
      } else {
        ElMessage({
          type: "error",
          message: "下架失败"
        })
      }
    }
  }

  const editSku = () => {
    ElMessage({
      type: "warning",
      message: "功能正在开发中...."
    })
  }

  let skuInfo = ref({});
  const showSkuInfo = async (row:any) => {
    let result:any = await reqSkuIndo(row.id);
    if(result.code === 200) {
      skuInfo.value = result.data;
      drawer.value = true;
    }
  }

  const deletSKu = async (row:any) => {
    let result:any = await reqDeleteSku(row.id)
    if(result.code === 200) {
      ElMessage({
        type: "success",
        message: "删除成功"
      })
      querySkuList()
    } else {
      ElMessage({
        type: "success",
        message: "删除成功"
      })
    }
  }
</script>

<style lang='scss' scoped>
.demonstration {
  color: var(--el-text-color-secondary);
}

.el-carousel__item h3 {
  color: #475669;
  opacity: 0.75;
  line-height: 150px;
  margin: 0;
  text-align: center;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}
</style>