<template>
  <svg :style="{ width: `${width}px`,height: `${height}px` }">
    <use :xlink:href="`${prefix}${name}`" :fill="color"></use>
  </svg>  
</template>

<script setup lang='ts'>
  defineProps({
    prefix: {
      type: String,
      default: "#icon-"
    },
    name: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: "#ccc"
    },
    width: {
      type: String,
      default: "16"
    },
    height: {
      type: String,
      default: "16"
    }
  })
</script>

<style lang='scss' scoped>

</style>