<template>
  <el-card>
    <el-form class="form">
      <el-form-item label="角色名称">
        <el-input v-model="searchKey" placeholder="角色名称" />
      </el-form-item>

      <el-form-item>
        <el-button type="primary" :disabled="searchKey?false:true" @click="queryRoleList(1)">搜索</el-button>
        <el-button @click="resetRoleList">重置</el-button>
      </el-form-item>
    </el-form>
  </el-card>

  <el-card class="m-t-10">
    <el-button type="primary" icon="Plus" @click="addOrUpdateHandler('add')">添加角色</el-button>

    <el-table class="m-t-10" border :data="roleList">
      <el-table-column label="序号" type="index" align="center" width="80"></el-table-column>
      <el-table-column label="id" prop="id" align="center" show-overflow-tooltip></el-table-column>
      <el-table-column label="角色名称" prop="roleName" align="center" show-overflow-tooltip></el-table-column>
      <el-table-column label="创建时间" prop="createTime" align="center" show-overflow-tooltip></el-table-column>
      <el-table-column label="更新时间" prop="updateTime" align="center" show-overflow-tooltip></el-table-column>
      <el-table-column label="操作" align="center" width="280">
        <template #="{ row }">
          <el-button icon="User" type="primary" size="small" @click="setPermission(row)">分配权限</el-button>
          <el-button icon="Edit" type="primary" size="small" @click="addOrUpdateHandler('edit', row)">编辑</el-button>
          <el-popconfirm title="确定要删除当前角色？" width="200" @confirm="deleteRole(row)">
            <template #reference>
              <el-button icon="Delete" type="primary" size="small">删除</el-button>
            </template>
          </el-popconfirm>
        </template>

      </el-table-column>
    </el-table>

    <el-pagination
      class="m-t-12"
      v-model:current-page="currentPage"
      v-model:page-size="pageSize"
      :page-sizes="[10, 20, 30, 40]"
      layout=", prev, pager, next, jumper, ->, sizes, total"
      :total="total"
      @size-change="queryRoleList(1)"
      @current-change="queryRoleList"
    />
  </el-card>

  <el-dialog
    v-model="addOrUpdateDialogVisible"
    :title="addOrUpdateRoleForm.id?'编辑':'添加'"
    width="30%">
    <el-form ref="addOrUpdateForm" :model="addOrUpdateRoleForm" :rules="rules">
      <el-form-item label="角色名称" prop="roleName">
        <el-input v-model="addOrUpdateRoleForm.roleName" placeholder="请输入角色名称"/>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="addOrUpdateDialogVisible = false">取消</el-button>
        <el-button type="primary" @click="addOrUpdateConfirm">
          确定
        </el-button>
      </span>
    </template>
  </el-dialog>

  <el-drawer
    width="50%"
    v-model="permissonDrawer"
    title="分配权限">
    
    <el-tree
      ref="permissionTree"
      :data="permissionTreeData"
      show-checkbox
      node-key="id"
      default-expand-all
      :default-checked-keys = "selectedPermissionIds"
      :props="defaultProps"/>

    <template #footer>
      <div style="flex: auto">
        <el-button @click="permissonDrawer = false">取消</el-button>
        <el-button type="primary" @click="setPermissionConfirm">确定</el-button>
      </div>
    </template>
  </el-drawer>
</template>

<script setup lang='ts'>
  import { ref, onMounted, watch } from "vue";
  import { reqRoleList, addOrUpdateRole, reqPermission, reqSetRolePermission, reqDeleteRole } from "@/apis/acl/role";
  import type { ResponseRoleList, RoleList, Role, ResponsePermissionData, PermissionData} from "@/apis/acl/role/type"

  import useLayoutStingStore from "@/store/setting"
  import { ElMessage } from "element-plus";
  let layoutStingStore = useLayoutStingStore();

  let searchKey = ref("");
  let currentPage = ref(1),
  pageSize = ref(10),
  total = ref(0);

  let roleList = ref<RoleList>([])

  onMounted(() => {
    queryRoleList()
  })

  const queryRoleList = async (page = 1) => {
    currentPage.value = page;
    let result:ResponseRoleList = await reqRoleList(currentPage.value, pageSize.value, searchKey.value);
    if(result.code === 200) {
      total.value = result.data.total;
      roleList.value = result.data.records;
    }
  }

  const resetRoleList = () => {
    // searchKey.value = "";
    // queryRoleList()

    layoutStingStore.refresh = !layoutStingStore.refresh;
  }


  // 新增、更新角色
  let addOrUpdateDialogVisible = ref(false),
      addOrUpdateRoleForm = ref<Role>({
        roleName: ""
      }),
      addOrUpdateForm = ref(),
      rules = {
        roleName: [
          { required: true, trigger: "blur", message: "不能为空" }
        ]
      };

  const addOrUpdateHandler = (opreate:string, row:Role) => {
    if(opreate === "edit") {
      addOrUpdateRoleForm.value = JSON.parse(JSON.stringify(row));
    }
    addOrUpdateDialogVisible.value = true;
  }
  const addOrUpdateConfirm = async () => {
    await addOrUpdateForm.value.validate();
    let result:any = await addOrUpdateRole(addOrUpdateRoleForm.value)
    if(result.code === 200) {
      addOrUpdateDialogVisible.value = false;
      ElMessage({
        type: "success",
        message: `${addOrUpdateRoleForm.value.id?'编辑':'添加'}成功！`
      });
      queryRoleList();
    }
  }
  watch(addOrUpdateDialogVisible, (newVal) => {
    addOrUpdateForm.value?.clearValidate("roleName")
    if(!newVal) {
      addOrUpdateRoleForm.value = {
        roleName: ""
      }
    }
  })


  // 分配权限
  let permissonDrawer = ref(false),
    permissionTreeData = ref<PermissionData[]>([]),
    selectedPermissionIds = ref<number[]>([]),
    currRole = ref({});

    const defaultProps = {
      children: 'children',
      label: 'name',
    }



  const setPermission = async (row:Role) => {
    currRole.value = row;
    selectedPermissionIds.value = [];
    permissonDrawer.value = true;
    let result:ResponsePermissionData = await reqPermission((row.id as number))
    if(result.code === 200) {
      permissionTreeData.value = result.data;
      selectedPermissionFun(permissionTreeData.value)
    }
  }

  const selectedPermissionFun = (permissionArr:any) => {
    permissionArr.forEach((item:any) => {
      if(item.select && item.level === 4) {
        selectedPermissionIds.value.push(item.id)
      }
      if(item.children) {
        selectedPermissionFun(item.children)
      }
    });
  }

  let permissionTree = ref();
  const setPermissionConfirm = async () => {
    let selectIds = permissionTree.value.getCheckedKeys(),
      halfSelectIds = permissionTree.value.getHalfCheckedKeys()
    console.log(halfSelectIds)
    let result:any = await reqSetRolePermission(currRole.value.id, [...selectIds, ...halfSelectIds]);
    if(result.code === 200) {
      permissonDrawer.value = false;
      // queryRoleList(currentPage.value);

      // 修改自己的权限时，需要重新获取用户信息（不过，个人认为，自己应该不能修改自己的权限的）
      window.location.reload();
      ElMessage({
        type: "success",
        message: "权限配置成功！"
      })
    }
  }


  const deleteRole = async (row:Role) => {
    let result:any = await reqDeleteRole(row.id)
    if(result.code === 200) {
      ElMessage({
        type: "success",
        message: "角色删除成功！"
      })
      queryRoleList()
    }
  }
</script>

<style lang='scss' scoped>
  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
</style>