<template>
  <div class="content">
    <div class="title">
      <div class="left">
        <span class="title-text">实时游客统计</span>
        <div class="pic"></div>
      </div>
      <span class="total">
        可预约总量<span class="num"> 9999 </span>人
      </span>
    </div>
    <div class="people-box">
      <span class="people-num-item" v-for="(item, index) in people" :key="index">{{ item }}</span>
    </div>
    <div class="charts" ref="myChart">

    </div>
  </div>
</template>

<script setup lang="ts">
  import { ref, onMounted } from "vue"
  import * as echarts from 'echarts'
  import 'echarts-liquidfill'
  let people = ref("216908人");
  let myChart = ref();
  onMounted(() => {
    let echart = echarts.init(myChart.value)
    echart.setOption({
      series: [{
        radius: '90%',
        type: 'liquidFill',
        data: [0.6, 0.4, 0.2]
      }]
    })
  })
</script>

<style lang="scss" scoped>
  .content {
    background:  url("../../../../assets/images/screen/dataScreen-main-rb.png") no-repeat;
    background-size: 100% 100%;
    color: #fff;
    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 20px;
      height: 60px;
      .left {
        display: flex;
        flex-direction: column;
        align-item: center;
        padding: 10px 0;
        .pic {
          background:  url("../../../../assets/images/screen/dataScreen-title.png") no-repeat;
          background-size: 100% 100%;
          height: 10px;
          width: 60px;
          margin-top: 10px;
        }
      }
      .total {
        margin-top: 30px;
        font-size: 16px;
        .num {
          color: #ef8832;
        }
      }
    }
    .people-box {
      display: flex;
      padding: 12px;
      .people-num-item {
        flex: 1;
        height: 50px;
        line-height: 50px;
        text-align: center;
        margin: 0 2px;
        background:  url("../../../../assets/images/screen/total.png") no-repeat;
        background-size: 100% 100%;
      }
    }
    .charts {
      height: 200px;
    }
  }
</style>