<template>
  <!-- 可以使用过渡动画 -->
  <router-view v-slot="{ Component }">
    <transition name="fade">
      <div>
        <component :is="Component" v-if="flag"/>
      </div>
    </transition>
  </router-view>
</template>

<script setup lang='ts'>
import { ref, watch, nextTick } from "vue";

import useLayoutSettingStore from "../../store/setting"
let flag = ref(true);
let layoutSettingStore = useLayoutSettingStore()
watch(() => layoutSettingStore.refresh, () => {
  flag.value = false;
  nextTick(() => {
    flag.value = true;
  })
})
  
</script>
<script lang='ts'>
  export default {
    name: "Main"
  }
</script>

<style lang='scss' scoped>
.fade-enter-from {
  opacity: 0;
}
.fade-enter-active {
  transition: all 1s;
}
.fade-leave-to {
  opacity: 1;
}

</style>