<template>
  <div>
    <Category/>
    <el-card class="m-t-10">
      <div v-show="scene == 0">
        <el-button v-has="'btn.Spu.add'" type="primary" icon="Plus" :disabled="categoryStore.c3Id?false:true"
          @click="addOrEditSpu('add')">添加SPU</el-button>
        <el-table class="m-t-12" border :data="tableData">
          <el-table-column label="序号" type="index" width="80"></el-table-column>
          <el-table-column label="SPU名称" width="200" prop="spuName"></el-table-column>
          <el-table-column label="SPU描述" prop="description"></el-table-column>
          <el-table-column label="操作" width="160">
            <template #="{ row }">
              <el-button size="small" icon="Plus" type="primary" @click="addSku('add', row)"></el-button>
              <el-button size="small" icon="Edit" type="primary" @click="addOrEditSpu('edit', row)"></el-button>
              <el-button size="small" icon="View" type="primary" @click="viewSKU(row)"></el-button>
              <el-popconfirm title="确定要删除当前spu吗?" @confirm="deleteSpu(row)" width="300">
                <template #reference>
                  <el-button size="small" icon="Delete" type="primary"></el-button>
                </template>
              </el-popconfirm>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          class="m-t-12"
          v-model:current-page="currentPage"
          v-model:page-size="pageSize"
          :page-sizes="[3, 6, 9, 12]"
          layout="prev, pager, next, jumper, ->, sizes, total"
          :total="total"
          @size-change="querySPUList(1)"
          @current-change="querySPUList"/>
      </div>
      <SpuForm ref="spu" v-show="scene == 1" @changeScene="changeScene"></SpuForm>
      <SkuForm ref="sku" v-show="scene == 2" @changeScene="changeScene"></SkuForm>
    </el-card>

    <el-dialog v-model="viewSku" title="SKU列表">
      <el-table border :data="skuArr">
        <el-table-column label="SKU名字" prop="skuName"></el-table-column>
        <el-table-column label="SKU价格" prop="price"></el-table-column>
        <el-table-column label="SKU重量" prop="weight"></el-table-column>
        <el-table-column label="SKU图片">
          <template #="{ row }">
            <img :src="row.skuDefaultImg" alt="" width="100" height="100">
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>
  </div>
</template>

<script setup lang='ts'>
  import { ref, watch } from 'vue';
  import userCategoryStore from "@/store/modules/category"
  import { getSPUList, reqFindSku, reqDeleteSpu } from "@/apis/product/spu"
  import type { SpuListResponse, SpuRecords } from "@/apis/product/spu/type"
  import SpuForm from "./spuForm.vue"
  import SkuForm from "./skuForm.vue"
import { ElMessage } from 'element-plus';

  let categoryStore = userCategoryStore()
  let currentPage = ref(1),
  pageSize = ref(3),
  total = ref(0);
  let tableData = ref<SpuRecords[]>([]);
  let scene = ref(0); //0：spu列表，1:添加、修改spu，2:添加sku

  watch(() => categoryStore.c3Id, () => {
    querySPUList()
  })

  const querySPUList = async (pageNo = 1) => {
    currentPage.value = pageNo
    let result:SpuListResponse = await getSPUList(currentPage.value, pageSize.value, categoryStore.c3Id)
    if(result.code === 200) {
      tableData.value = result.data.records;
      total.value = result.data.total
    }
  }

  let spu = ref();

  const addOrEditSpu = (opreta:any, row:SpuRecords) => {
    scene.value = 1;
    if(opreta === 'edit') {
      spu.value.initEditHandler(row)
    } else {
      spu.value.initAddHandler(categoryStore.c3Id)
    }
  }

  watch(scene, (newVal) => {
    if(!newVal) {
      spu.value.initHandler();
    }
  })

  const changeScene = (params:any) => {
    scene.value = params.flag;
    let page = params.operate === "add"?1:currentPage.value;
    querySPUList(page)
  }

  let sku = ref()

  const addSku = (operate, row:any) => {
    scene.value = 2;
    sku.value.initAddHandler(row)
  }

  let skuArr = ref<any>([]),
    viewSku= ref<boolean>(false);

  const viewSKU = async (row:any) => {
    let result:any = await reqFindSku(row.id)
    if(result.code === 200) {
      skuArr.value = result.data;
      viewSku.value = true;
    }
  }

  const deleteSpu = async (row:any) => {
    let result:any = await reqDeleteSpu(row.id);
    if(result.code === 200) {
      ElMessage({
        type: "success",
        message: "删除成功"
      }) 
      querySPUList(1)
    } else {
      ElMessage({
        type: "error",
        message: "删除失败"
      })
    }
  }
</script>

<style lang='scss' scoped>

</style>