<template>
  <el-form v-model="addSkuFormData">
    <el-form-item label="sku名称">
      <el-input placeholder="请输入sku名称" v-model="addSkuFormData.skuName"/>
    </el-form-item>

    <el-form-item label="价格(元)">
      <el-input placeholder="请输入价格" v-model="addSkuFormData.price"/>
    </el-form-item>

    <el-form-item label="重量(克)">
      <el-input placeholder="请输入重量" v-model="addSkuFormData.weight"/>
    </el-form-item>
    
    <el-form-item label="sku描述">
      <el-input placeholder="请输入sku描述" v-model="addSkuFormData.skuDesc"/>
    </el-form-item>


    <el-form-item label="平台属性">
      <el-form inline>
        <el-form-item v-for="item in attrList" :label="item.attrName">
          <el-select v-model="item.attrIdAndValueId">
            <el-option v-for="attrValueItem in item.attrValueList" 
              :value="`${item.id}:${attrValueItem.id}`"
              :label="attrValueItem.valueName">{{ attrValueItem.valueName }}</el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </el-form-item>


    <el-form-item label="销售属性">
      <el-form inline>
        <el-form-item v-for="item in saleAttrList" :key="item.id" :label="item.saleAttrName">
          <el-select v-model="item.saleAttrIdAndSaleAttrValueId">
            <el-option v-for="attrValue in item.spuSaleAttrValueList" :value="`${item.id}:${attrValue.id}`" 
              :label="attrValue.saleAttrName">{{ attrValue.saleAttrName }}</el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </el-form-item>

    <el-form-item label="图片名称">
      <el-table ref="imgTable" border :data="imgList">
        <el-table-column type="selection"></el-table-column>
        <el-table-column label="图片">
          <template #="{ row }">
            <img :src="row.imgUrl" alt="" width="120" height="120">
          </template>
        </el-table-column>
        <el-table-column label="名称" prop="imgName"></el-table-column>
        <el-table-column label="操作">
          <template #="{ row }">
            <el-button type="primary" size="small" @click="setDefaultImg(row)">设为默认图片</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-form-item>

    <el-form-item>
      <el-button type="primary" @click="save">保存</el-button>
      <el-button @click="cancel">取消</el-button>
    </el-form-item>
  </el-form>
</template>

<script setup lang="ts">
import { ref, defineEmits, defineExpose } from "vue"
import { reqAttr } from "@/apis/product/attr"
import { getSpuSaleAttrList, getSpuImageList, reqSaveSKUInfo } from "@/apis/product/spu"
import type { AddSkuInfo } from "@/apis/product/spu/type"

import userCategoryStore from "@/store/modules/category"
import { ElMessage } from "element-plus"

let categoryStore = userCategoryStore();
  

let $emit = defineEmits(["changeScene"]);
let attrList = ref<any>([]),
  saleAttrList = ref<any>([]),
  imgList = ref<any>([]);

let imgTable = ref<any>();

let addSkuFormData = ref<AddSkuInfo>({
  category3Id: "",
  spuId: "",
  tmId: "",
  skuName: "",
  price: "",
  weight: "",
  skuDesc: "",
  skuAttrValueList: [],
  skuSaleAttrValueList: [],
  skuDefaultImg: ""
})

const initAddHandler = async (row:any) => {
  addSkuFormData.value.category3Id = categoryStore.c3Id;
  addSkuFormData.value.spuId = row.id;
  addSkuFormData.value.tmId = row.tmId;

  let attrArr = await reqAttr(categoryStore.c1Id, categoryStore.c2Id, categoryStore.c3Id);
  let saleAttrArr = await getSpuSaleAttrList(row.id);
  let imgArr = await getSpuImageList(row.id)
  attrList.value = attrArr.data;
  saleAttrList.value = saleAttrArr.data;
  imgList.value = imgArr.data;
} 

const setDefaultImg = (row:any) => {
  imgTable.value.clearSelection();
  imgTable.value.toggleRowSelection(row, true);
  addSkuFormData.value.skuDefaultImg = row.imgUrl;
}

const save = async () => {
  addSkuFormData.value.skuSaleAttrValueList = saleAttrList.value.reduce((pre:any,next:any) => {
    if(next.saleAttrIdAndSaleAttrValueId) {
      let [saleAttrId, saleAttrValueId] = next.saleAttrIdAndSaleAttrValueId.split(":");
      pre.push({
        saleAttrId, saleAttrValueId
      })
    }
    return pre;
  }, [])

  addSkuFormData.value.skuAttrValueList = attrList.value.reduce((pre:any,next:any) => {
    if(next.attrIdAndValueId) {
      let [attrId, valueId] = next.attrIdAndValueId.split(":");
      pre.push({
        attrId, valueId
      })
    }
    return pre;
  }, [])
  console.log(addSkuFormData.value.skuSaleAttrValueList)
  console.log(addSkuFormData.value.skuAttrValueList)

  let result:any = await reqSaveSKUInfo(addSkuFormData.value);
  if(result.code === 200) {
    ElMessage({
      type: "success",
      message: "保存成功"
    })
    $emit("changeScene", { flag: 0, operate: "add" })
  } else {
    ElMessage({
      type: "error",
      message: "保存失败"
    })
  }
}

const cancel = () => {
  $emit("changeScene", {flag: 0})
}
defineExpose({initAddHandler})
</script>

<style scoped lang="scss">

</style>