<template>
  <el-form :model="spuFormData" label-width="100" label-position="right">
    <el-form-item label="SPU名称" prop="spuName">
      <el-input v-model="spuFormData.spuName" placeholder="请输入SPU名称" />
    </el-form-item>
    <el-form-item label="SPU品牌" prop="tmId">
      <el-select placeholder="请选择品牌"  v-model="spuFormData.tmId">
        <el-option v-for="item in trademarkList" :value="item.id" :label="item.tmName"></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="SPU描述" prop="description">
      <el-input v-model="spuFormData.description" type="textarea" placeholder="请输入描述" />
    </el-form-item>

    <el-form-item label="SPU照片" prop="spuImageList">
      <el-upload
        class="avatar-uploader m-10"
        action="/api/admin/product/fileUpload"
        :show-file-list="false"
        :on-success="handleAvatarSuccess">
        <template v-if="spuFormData.spuImageList && spuFormData.spuImageList.length > 0">
          <img v-for="item in spuFormData.spuImageList" :src="item.imgUrl" class="avatar m-10" />
        </template>
        <el-icon class="avatar-uploader-icon"><Plus /></el-icon>
      </el-upload>
    </el-form-item>

    <el-form-item label="SPU销售属性">
      <el-select v-model="selectSaleAttr" placeholder="请选择品牌">
        <el-option v-for="item in unSelectSaleAttrList" 
          :value="`${item.id}:${item.name}`" :label="item.name"></el-option>
      </el-select>
      <el-button :disabled="selectSaleAttr?false:true" class="m-l-10" type="primary" icon="Plus"
        @click="addSaleAttr">添加销售属性</el-button>

      <el-table border class="m-t-10" :data="spuFormData.spuSaleAttrList">
        <el-table-column label="序号" type="index" width="80"></el-table-column>
        <el-table-column label="属性名" prop="saleAttrName"></el-table-column>
        <el-table-column label="属性值">
          <template #="{ row, $index }">
            <el-tag v-for="item in row.spuSaleAttrValueList" :key="`tag-${$index}`"
              class="m-8"
              closable 
              @close="handleClose(row, item)">{{ item.saleAttrValueName }}</el-tag>
            <el-input
              v-if="row.inputVisible"
              v-model="row.inputVal"
              :ref="(vc:any) => inputObj[$index] = vc"
              class="ml-1 w-20"
              size="small"
              @keyup.enter="handleInputConfirm(row)"
              @blur="handleInputConfirm"/>
            <el-button v-else class="button-new-tag ml-1" size="small" @click="showInput(row, $index)">
              +
            </el-button>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template #="{ row, $index }">
            <el-button type="success" size="small" icon="Delete"
              @click="spuFormData.spuSaleAttrList.splice($index,1)"></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-form-item>

    <el-form-item>
      <el-button type="primary" @click="save">保存</el-button>
      <el-button @click="cancel">取消</el-button>
    </el-form-item>
  </el-form>
</template>

<script setup lang="ts">
  import { ref, defineProps, defineEmits, computed, defineExpose, nextTick } from 'vue';
  import { getTrademarkList, getSpuImageList, getSpuSaleAttrList, getBaseSaleAttrList, addOrEditSpuInfo } from "@/apis/product/spu"
  import type { TrademarkList, ResponseSpuImage, SpuImageList, SpuRecords, ResponseTrademark, ResponseSpuSaleAttr, ResponseBaseSaleAttrList, SpuSaleAttr, BaseSaleAttrValue } from "@/apis/product/spu/type"
  import { ElMessage } from 'element-plus';

  defineProps(["scene"]);
  let inputObj = ref<any>({})
  let spuFormData = ref<SpuRecords>({
    category3Id: "",
    description: "",
    spuName: "",
    tmId: "",
    spuImageList: [],
    spuSaleAttrList: []
  });
  let selectSaleAttr = ref("")

  let $emit = defineEmits(["changeScene"]);

  const handleClose = (row:any, item:any) => {
    row.spuSaleAttrValueList = row.spuSaleAttrValueList.filter((tag:any) => tag.id !== item.id)
  }

  const addSaleAttr = () => {
    let [baseSaleAttrId, saleAttrName] = selectSaleAttr.value.split(":"),
      obj = {
        baseSaleAttrId,
        saleAttrName,
        spuSaleAttrValueList: []
      };
      spuFormData.value.spuSaleAttrList.push(obj)
      selectSaleAttr.value = ""
  }

  const showInput = (row:any, index: number) => {
    row.inputVisible = true;
    nextTick(() => {
      inputObj.value[index].focus();
    })

  }

  const handleInputConfirm = (row:any) => {
    if(row.inputVal?.trim() === "") {
      ElMessage({
        type: "warning",
        message: "属性值不能为空"
      })
      return
    }
    let repeat = row.spuSaleAttrValueList?.find((item:any) => item.saleAttrValueName === row.inputVal)
    if(repeat) {
      ElMessage({
        type: "warning",
        message: "属性值不能重复"
      })
      return
    }
    row.inputVisible = false;
    row.spuSaleAttrValueList?.push({
      saleAttrValueName: row.inputVal,
      baseSaleAttrId: row.baseSaleAttrId
    })
    row.inputVal = ""
  }

  const cancel = () => {
    $emit("changeScene", { flag: 0, operate: "cancel" })
  }

  const save = async () => {
    let result = await addOrEditSpuInfo(spuFormData.value);
    if(result.code === 200) {
      $emit("changeScene", { flag: 0, operate: spuFormData.value.id?"edit":"add" })
      ElMessage({
        type: "success",
        message: spuFormData.value.id?"修改成功":"新增成功"
      })
    } else {
      ElMessage({
        type: "error",
        message: spuFormData.value.id?"修改失败":"新增失败"
      })
    }
  }

  const handleAvatarSuccess = (data, file:any) => {
    let fileInfo = {
      imgName: file.raw.name,
      imgUrl: file.response.data
    }
    spuFormData.value.spuImageList?.push(fileInfo)
  }

  let trademarkList = ref<TrademarkList>([]),
    spuImages = ref<SpuImageList>([]),
    spuSaleAttrList = ref<SpuSaleAttr[]>([]),
    baseSaleAttrList = ref<BaseSaleAttrValue[]>([]);

  let unSelectSaleAttrList = computed(() => {
    return baseSaleAttrList.value.filter((item:any) => {
      return spuSaleAttrList.value.every((sitem:any) => {
        debugger
        return item.id !== sitem.baseSaleAttrId
      })
    })
  });

  const initEditHandler = async (row:SpuRecords) => {
    spuFormData.value = row;

    let result:ResponseTrademark = await getTrademarkList();
    let result1:ResponseSpuImage = await getSpuImageList((row.id as number));
    let result2:ResponseSpuSaleAttr = await getSpuSaleAttrList((row.id as number))
    let result3:ResponseBaseSaleAttrList = await getBaseSaleAttrList()

    trademarkList.value = result.data;
    spuImages.value = result1.data;
    spuSaleAttrList.value = result2.data;
    baseSaleAttrList.value = result3.data;
    spuSaleAttrList.value.map(item => {
      item.inputVisible = false;
      item.inputVal = ""
    })
    spuFormData.value.spuImageList = spuImages.value || [];
    spuFormData.value.spuSaleAttrList = spuSaleAttrList.value || [];
  }

  const initAddHandler = async (category3Id:number|string) => {
    let result:ResponseTrademark = await getTrademarkList();
    let result2:ResponseBaseSaleAttrList = await getBaseSaleAttrList()

    trademarkList.value = result.data;
    baseSaleAttrList.value = result2.data;
    spuFormData.value.category3Id = category3Id;
    spuFormData.value.id = undefined;
  }

  const initHandler = () => {
    Object.assign(spuFormData.value, {
      category3Id: "",
      description: "",
      spuName: "",
      tmId: "",
      spuImageList: [],
      spuSaleAttrList: []
    })
    spuSaleAttrList.value = [];
  }


  defineExpose({ initEditHandler, initAddHandler, initHandler })
</script>

<style lang="scss">
.avatar-uploader .avatar {
  width: 100px;
  height: 100px;
  display: block;
}
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px dashed rgb(205, 208, 214);
}
</style>