<template>
  <el-card class="box-card">
    <el-button class="m-b-10" type="primary" icon="Plus" @click="addTrademark">添加品牌</el-button>

    <el-table border :data="trademarkData">
      <el-table-column label="序号" width="80" align="center" type="index"/>
      <el-table-column label="品牌名称" prop="tmName"/>
      <el-table-column label="品牌LOGO">
        <template #="{row}">
          <img :src="row.logoUrl" alt="暂无图片" width="100px" height="100px">
        </template>
      </el-table-column>
      <el-table-column label="品牌操作">
        <template #="{row}"> 
          <el-button type="primary" icon="Edit" size="small" @click="editTrademark(row)"></el-button>

          <el-popconfirm :title="`确定要删除${row.tmName}吗？`" width="300" @confirm="deleteTrademark(row)">
            <template #reference>
              <el-button type="primary" icon="Delete" size="small"></el-button>
            </template>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      class="m-t-10"
      v-model:current-page="pageNo"
      v-model:page-size="pageSize"
      :page-sizes="[3, 6, 9, 12]"
      layout="prev, pager, next, jumper, ->, sizes, total"
      :total="total"
      @size-change="queryResponsBaseTrademark(1)"
      @current-change="queryResponsBaseTrademark"/>
  </el-card>

  <el-dialog
    v-model="addTrademarkModel"
    :title="addTrademarkForm.id?'修改品牌':'添加品牌'">
    <el-form :model="addTrademarkForm" label-width="120px" ref="addOrUpadteTrademarkForm" :rules="rules">
      <el-form-item label="品牌名称" prop="tmName">
        <el-input v-model="addTrademarkForm.tmName" />
      </el-form-item>
      <el-form-item label="品牌LOGO" prop="logoUrl">
        <el-upload
          class="avatar-uploader"
          action="/api/admin/product/fileUpload"
          accept=""
          :show-file-list="false"
          :on-success="handleAvatarSuccess">
          <img v-if="addTrademarkForm.logoUrl" :src="addTrademarkForm.logoUrl" class="avatar" width="100px" height="100px"/>
          <el-icon v-else class="avatar-uploader-icon"><Plus /></el-icon>
        </el-upload>
      </el-form-item>
    </el-form> 

    <template #footer>
      <el-button type="primary" @click="cancelAddModel">取消</el-button>
      <el-button type="primary" @click="submitAddModel">确定</el-button>
    </template>
  </el-dialog>
</template>

<script setup lang='ts'>
  import { ref, reactive, onMounted, watch } from 'vue';
  import { reqBaseTrademark, saveOrUpdateBaseTrademark, deleteBaseTrademark } from "@/apis/product/trademark"
  import type { ResponsBaseTrademark, Records, Trademark }  from '@/apis/product/trademark/type'
  import { ElMessage } from 'element-plus';



  const validatorTmName = (rule:any, value:any, callback:any) => {
    if(value >= 2) {
      callback()
    } else {
      callback("品牌名称位数必须大于等于2")
    }
  }
  const validatorLogoUrl = (rule:any, value:any, callback:any) => {
    if(value) {
      callback()
    } else {
      callback("品牌LOGO不能为空")
    }
  }
  let pageNo = ref<number>(1),
    pageSize = ref<number>(3),
    total = ref<number>(0),
    trademarkData = ref<Records>([]),
    addTrademarkModel = ref<boolean>(false),
    addTrademarkForm = reactive<Trademark>({tmName:"",logoUrl:""}),
    addOrUpadteTrademarkForm = ref(),
    rules = {
      tmName: [
        { required: true, trigger: "blur", validator: validatorTmName }
      ],
      logoUrl: [
        { required: true, validator: validatorLogoUrl }
      ]
    };


    // reqBaseTrademark(pageNo.value, pageSize.value).then((res) => {
    //   if(res.code === 200) {
    //     total.value = res.data.total;
    //     trademarkData.value = res.data.records;
    //     console.log(res)
    //   } else {
    //     alert("接口出错")
    //   }
    // },() => {
    //   alert(111)
    // })
  onMounted( () => {
    queryResponsBaseTrademark()
  })

  // 获取品牌列表
  const queryResponsBaseTrademark = async (page = 1) => {
    // onMounted 和 size-change 时，page默认为1，也就是默认查询第一页的数据
    // current-change 时，组件内部自动将对应的page传入了，那么查询的就是对应页码的数据
    // 因为 v-model:current-page="pageNo"、v-model:page-size="pageSize" 两种写法，子组件内部可以修改父组件的值
    // 在 elemnt-plus中 子组件内修改 pageNo 和 pageSize 时，父组件的值会同步，
    // 所以， size-change 和 current-change 方法里，不需要再手动修改 pageNo 和 pageSize
    pageNo.value = page; 
    let result:ResponsBaseTrademark = await reqBaseTrademark(pageNo.value, pageSize.value);
    if(result.code === 200) {
      total.value = result.data.total;
      trademarkData.value = result.data.records;
      console.log(result)
    }
  }

  // const handleSizeChange = (data) => {
  //   pageNo.value = 1;
  //   console.log("handleSizeChange",data);
  //   queryResponsBaseTrademark();
  // }

  // const handleCurrentChange = (data) => {
  //   console.log("handleCurrentChange",data)
  //   // pageNo.value = data;
  //   queryResponsBaseTrademark()
  // }

  // 添加品牌按钮事件
  const addTrademark = () => {
    addTrademarkForm.id = undefined;
    addTrademarkForm.tmName = "";
    addTrademarkForm.logoUrl = "";
    addTrademarkModel.value = true;
  }
  // 编辑品牌按钮事件
  const editTrademark = (row:Trademark ) => {
    addTrademarkForm.tmName = row.tmName;
    addTrademarkForm.logoUrl = row.logoUrl;
    addTrademarkForm.id = row.id;
    addTrademarkModel.value = true;
  }
  // 取消添加品牌、编辑品牌按钮事件
  const cancelAddModel = () => {
    addTrademarkModel.value = false;
  }
  // 提交新增、编辑品牌事件
  const submitAddModel = async () => {
    await addOrUpadteTrademarkForm.value.validate();

    let result:any = await saveOrUpdateBaseTrademark(addTrademarkForm);
    if(result.code === 200) {
      addTrademarkModel.value = false;
      queryResponsBaseTrademark(addTrademarkForm.id?pageNo.value:1);
      ElMessage({
        type: "success",
        message: "操作成功"
      })
    }
  }
  // 图片上传成功事件
  const handleAvatarSuccess = (result:any) => {
    if(result.code === 200 ) {
      addTrademarkForm.logoUrl = result.data;
      addOrUpadteTrademarkForm.value.clearValidate("logoUrl")
    }
  }

  const deleteTrademark = async (row:Trademark) => {
    let result:any = await deleteBaseTrademark(row.id)
    if(result.code === 200) {
      queryResponsBaseTrademark()
      ElMessage({
        type: "success",
        message: "成功删除"
      })
    }
  }

  watch(addTrademarkModel, (newVal) => {
    if(newVal) {

      // console.log(addOrUpadteTrademarkForm)
      // addOrUpadteTrademarkForm.value && addOrUpadteTrademarkForm.value.resetFields()
      console.log(addOrUpadteTrademarkForm)
      // ?. 可选链操作符，表示如果 ? 前面的数据存在，那么就链式调用后面的方法
      addOrUpadteTrademarkForm.value?.clearValidate()
    }
  })  
  
  
  
</script>

<script lang="ts">
  export default {
    name: "Trademark"
  }
</script>

<style>
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}

</style>