<template>
  <div>
    <el-card>
      <el-form inline class="form">
        <el-form-item label="用户名：">
          <el-input v-model="searchKey"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="queryUserList(1, searchKey)" :disabled="searchKey?false:true">搜索</el-button>
          <el-button @click="resetUserList">重置</el-button>
        </el-form-item>
      </el-form>
    </el-card>

    <el-card class="m-t-10">
      <div class="m-b-10">
        <el-button type="primary" @click="addOrEditUser('add')">添加</el-button>
        <el-button type="danger" :disabled="selectedUserList.length < 1" @click="batchDeleteUser">批量删除</el-button>
      </div>

      <el-table border :data="userList" @selection-change="handleSelectionChange">
        <el-table-column type="selection"></el-table-column>
        <el-table-column type="index"></el-table-column>
        <el-table-column label="id" prop="id" show-overflow-tooltip></el-table-column>
        <el-table-column label="用户名字" prop="username" show-overflow-tooltip></el-table-column>
        <el-table-column label="用户名称" prop="name" show-overflow-tooltip></el-table-column>
        <el-table-column label="用户角色" prop="roleName" show-overflow-tooltip></el-table-column>
        <el-table-column label="创建时间" prop="createTime" show-overflow-tooltip></el-table-column>
        <el-table-column label="更新时间" prop="updateTime" show-overflow-tooltip></el-table-column>
        <el-table-column label="操作" width="280">
          <template #="{ row }">
              <el-button type="primary" size="small" icon="User" @click="assignRole(row)">分配角色</el-button>
              <el-button type="primary" size="small" icon="Edit" @click="addOrEditUser('edit', row)">编辑</el-button>

              <el-popconfirm width="200" title="确定要删除当前用户吗？" @confirm="deleteUser(row)">
                <template #reference>
                  <el-button type="primary" size="small" icon="Delete">删除</el-button>
                  </template>
              </el-popconfirm>
          </template>
        </el-table-column>
      </el-table>

      <el-pagination
        class="m-t-12"
        v-model:current-page="currentPage"
        v-model:page-size="pageSize"
        :page-sizes="[10, 20, 30, 40]"
        layout=", prev, pager, next, jumper, ->, sizes, total"
        :total="total"
        @size-change="queryUserList(1)"
        @current-change="queryUserList" />
    </el-card>

    <el-drawer
      v-model="drawer"
      :title="userFormData.id?'编辑用户':'添加用户'" >
      <div class="drawer-body">
        <el-form :model="userFormData" :rules="rules" ref="formRef">
          <el-form-item label="用户姓名" prop="username">
            <el-input v-model="userFormData.username" placeholder="请填写用户名字"/>
          </el-form-item>
          <el-form-item label="用户昵称" prop="name">
            <el-input v-model="userFormData.name" placeholder="请填写用户昵称"/>
          </el-form-item>
          <el-form-item v-show="!userFormData.id" label="用户密码" prop="password">
            <el-input v-model="userFormData.password" placeholder="请填写用户密码"/>
          </el-form-item>
        </el-form>
        <div class="footer">
          <el-button type="primary" @click="addOrUpdateUser">保存</el-button>
          <el-button @click="drawer = false">取消</el-button>
        </div>
      </div>
    </el-drawer>

    <el-drawer
      v-model="roleDrawer"
      title="分配角色用户">
      <div class="drawer-body">
        <el-form>
          <el-form-item label="用户姓名">
            <el-input v-model="currentUser.username" disabled />
          </el-form-item>
          <el-form-item label="角色列表">
            <el-checkbox
              v-model="roleCheckAll"
              :indeterminate="isIndeterminate"
              @change="handleCheckAllChange"
              >全选</el-checkbox>
            <el-checkbox-group
              v-model="assignRolesList"
              @change="handleCheckedCitiesChange">
              <el-checkbox v-for="(role, index) in allRolesList" :key="index" :label="role">{{
                role.roleName
              }}</el-checkbox>
            </el-checkbox-group>
          </el-form-item>
        </el-form>
        <div class="footer">
          <el-button type="primary" @click="doAssignRole">保存</el-button>
          <el-button @click="roleDrawer = false">取消</el-button>
        </div>
      </div>
    </el-drawer>
  </div>
</template>

<script setup lang='ts'>
  import { ref, watch } from "vue"
  import { ResponseUserList, Records, User, RespondeUserRole, RoleList, DoAssignParams } from "@/apis/acl/user/type"
  import { reqUserList, reqAddOrUpdateUser, reqUserRole, reqDoAssignRole, reqDeleteUser, reqBatchDeleteUser } from "@/apis/acl/user"
  import { ElMessage } from "element-plus";

  let searchKey = ref("");

  let drawer = ref(false),
  roleDrawer = ref(false);

  let currentPage = ref(1),
  pageSize = ref(10),
  total = ref(0);
  
  let userList = ref<Records>([])
  const queryUserList = async (page = 1, username = "") => {
    currentPage.value = page;
    let result:ResponseUserList = await reqUserList(currentPage.value, pageSize.value, username)
    if(result.code === 200) {
      userList.value = result.data.records;
      total.value = result.data.total;
    }
  }

  queryUserList()

  let userFormData = ref<User>({
    username: "",
    password: "",
    name: "",
  })
  const addOrEditUser = (opreate:string, row:User) => {
    drawer.value = true;
    if(opreate === "edit") {
      userFormData.value = JSON.parse(JSON.stringify(row))
    }
  }

  const validatorUsername = (rule:any, value:any, callback:any) => {
    if(value.trim().length >= 5) {
      callback()
    } else {
      callback("用户姓名必须大于等于5位！")
    }
  }

  const validatorPassword = (rule:any, value:any, callback:any) => {
    if(value.trim().length >= 6) {
      callback()
    } else {
      callback("用户昵称必须大于等于6位！")
    }
  }

  const validatorName = (rule:any, value:any, callback:any) => {
    if(value.trim().length >= 6) {
      callback()
    } else {
      callback("用户密码必须大于等于5位！")
    }
  }

  const rules = {
    username: [{ required: true, trigger: "blur", validator: validatorUsername }],
    password: [{ required: true, trigger: "blur", validator: validatorPassword }],
    name: [{ required: true, trigger: "blur", validator: validatorName }]
  }

  let formRef = ref();
  const addOrUpdateUser = async() => {
    // 对新增用户表单进行校验
    await formRef.value.validate()

    let result:any = await reqAddOrUpdateUser(userFormData.value)
    if(result.code === 200) {
      drawer.value = false;
      if(userFormData.value.id) {
        // queryUserList(currentPage.value)
        // 如果是修改用户信息，这里页面刷新一下，为了解决以下情况：
        // 当前登录用户 a， 对自己的信息进行了编辑，那么，token变了，需要刷新一下，跳转到登录页面，重新登录。
        window.location.reload()
      } else {
        queryUserList(1)
      }
      ElMessage({
        type: "success",
        message: `用户${userFormData.value.id?'编辑':'新增'}成功！`
      })
    } else {
      ElMessage({
        type: "error",
        message: `用户${userFormData.value.id?'编辑':'新增'}失败！`
      })
    }
  }

  watch(drawer, (newVal) => {
    if(!newVal) {
      formRef.value.resetFields();
      // userFormData.value.id = undefined;
      Object.assign(userFormData.value, {
        username: "",
        password: "",
        name: "",
        id: undefined
      })
    }
  })


  let roleCheckAll = ref(false),
    isIndeterminate = ref(false),
    allRolesList = ref<RoleList>([]),
    assignRolesList = ref<RoleList>([]),
    currentUser = ref<User>({});
  const assignRole = async (row:any) => {
    let result:RespondeUserRole = await reqUserRole(row.id);
    if(result.code === 200) {
      allRolesList.value = result.data.allRolesList;
      assignRolesList.value = result.data.assignRoles;
      currentUser.value = row;
      roleDrawer.value = true;
    }
  }

  const handleCheckAllChange = (val:boolean) => {
    assignRolesList.value = val ? allRolesList.value : []
    isIndeterminate.value = false
  }

  const handleCheckedCitiesChange = (value: string[]) => {
    const checkedCount = value.length
    roleCheckAll.value = checkedCount === allRolesList.value.length
    isIndeterminate.value = checkedCount > 0 && checkedCount < allRolesList.value.length
  }

  const doAssignRole = async () => {
    let params = {
      roleIdList: assignRolesList.value.map(item => item.id),
      userId: currentUser.value.id
    }
    let result:any = await reqDoAssignRole(params);
    if(result.code === 200) {
      roleDrawer.value = false;
      queryUserList(currentPage.value)
      ElMessage({
        type: "success",
        message: "角色分配成功！"
      })
    }
  }

  const deleteUser = async (row:any) => {
    let result:any = await reqDeleteUser(row.id);
    if(result.code === 200) {
      ElMessage({
        type: "success",
        message: "用户删除成功！"
      })
      queryUserList(currentPage.value);
    }
  }
  let selectedUserList = ref([]);
  const handleSelectionChange = (selected:any) => {
    selectedUserList.value = selected.map((item:any) => item.id);
    
  }

  const batchDeleteUser = async () => {
    let result = await reqBatchDeleteUser(selectedUserList.value)
    if(result.code === 200) {
      ElMessage({
        type: "success",
        message: "批量删除用户成功！"
      })
      queryUserList(1)
    }
  } 

  const resetUserList = () => {
    searchKey.value = "";
    queryUserList(1);
  }
</script>

<style lang='scss' scoped>
  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .drawer-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .footer {
      text-align: right;
    }
  }
</style>