<template>
  <div class="tabbar">
    <div class="tabbar_left">
      <Breadcrumb/>
    </div>
    <div class="tabbar_right">
      <Setting/>
    </div>
  </div>
</template>

<script setup lang='ts'>
  import Breadcrumb from "./breadcrumb/index.vue"
  import Setting from "./setting/index.vue"
</script>
<script lang='ts'>
  export default {
    name: "Tabbar"
  }
</script>

<style lang='scss' scoped>
  .tabbar {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    > div {
      height: 100%;
      width: 100%;
    }
    display: flex;
    .tabbar_left {
      display: flex;
      align-items: center;
    }
    .tabbar_right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
</style>