<template>
  <el-card>
    <el-form inline>
      <el-form-item label="一级分类">
        <el-select v-model="categoryStore.c1Id" @change="c1Change">
          <el-option v-for="item in categoryStore.c1Arr" :value="item.id" :label="item.name"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="二级分类">
        <el-select v-model="categoryStore.c2Id" @change="c2Change">
          <el-option v-for="item in categoryStore.c2Arr" :value="item.id" :label="item.name"></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="三级分类">
        <el-select v-model="categoryStore.c3Id" @change="c3Change">
          <el-option v-for="item in categoryStore.c3Arr" :value="item.id" :label="item.name"></el-option>
        </el-select>
      </el-form-item>
    </el-form>
  </el-card>
</template>

<script setup>
  import userCategoryStore from '../../store/modules/category'
  let categoryStore = userCategoryStore()
  categoryStore.requestCategory1()

  const c1Change = () => {
    categoryStore.c2Arr = [];
    categoryStore.c3Arr = [];
    categoryStore.c2Id = "";
    categoryStore.c3Id = "";
    categoryStore.requestCategory2()
  }

  const c2Change = () => {
    categoryStore.c3Arr = [];
    categoryStore.c3Id = "";
    categoryStore.requestCategory3()
  }

  const c3Change = () => {

  }
</script>

<style lang="scss" scoped></style>