<template>
  <div class="container">
    <div class="screen" ref="container">
      <!-- 具体内容区 -->
      <div class="top">
        <Top></Top>
      </div>
      <div class="bottom">
        <div class="bottom-left">
          <Tourist class="tourist" />
          <Sex class="sex" />
          <Age class="age" />
        </div>
        <div class="bottom-center">
          <Map class="map" />
          <Trend class="trend" />
        </div>
        <div class="bottom-right">右侧</div>
      </div>
    </div>
  </div>
</template>

<script setup lang='ts'>
  import { ref, onMounted } from 'vue'
  import Top from "./components/top/index.vue"
  import Tourist from "./components/tourist/index.vue"
  import Sex from "./components/sex/index.vue"
  import Age from "./components/age/index.vue"
  import Map from "./components/map/index.vue"
  import Trend from "./components/trend/index.vue"

  let container = ref();


  onMounted(() => {
    container.value.style.transform = `scale(${getScale()}) translate(-50%, -50%)`
  })

  window.onresize = () => {
    container.value.style.transform = `scale(${getScale()}) translate(-50%, -50%)`
  }

  const getScale = (w = 1920, h = 1080) => {
    let ww = window.innerWidth / w;
    let wh = window.innerHeight / h;
    return ww < wh ? ww:wh;
  }
</script>

<style lang='scss' scoped>
  .container {
    width: 100vw;
    height: 100vh;
    background: url("../../assets/images/screen/bg.png") no-repeat;
    background-size: cover;
    .screen {
      width: 1920px;
      height: 1080px;
      position: fixed;
      // transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      transform-origin: left top;
      display: flex;
      flex-direction: column;
      .top {
        height: 60px;
      }
      .bottom {
        display: flex;
        flex: 1;
        padding: 10px 16px;
        .bottom-left {
          flex: 1;
          display: flex;
          flex-direction: column;
          .tourist {
            flex: 1;
          }
          .age {
            flex: 1;
            background-color: rebeccapurple;
          }
          .sex {
            flex: 1;
            background-color: aqua;
          }
        }
        .bottom-right {
          flex: 1;
        }
        .bottom-center {
          flex: 2;
          display: flex;
          flex-direction: column;
          .map {
            flex: 3;
          }
          .trend {
            flex: 1;
          }
        }
      }

    }
  }
</style>