//定义左侧菜单的宽度
$base-menu-width: 260px;
//定义左侧菜单最小宽度
$base-menu-min-width: 60px;
// 定义左侧菜单背景色
$base-menu-background: #04142f;
//定义顶部导航栏的高度
$base-tabbar-height: 50px;
//左侧菜单logo高度
$base-menu-logo-height: 50px;
//左侧菜单logo右侧文字大小
$base-logo-title-fontSize: 20px;