<template>
  <div class="header">
    <div class="left">
      <span class="btn" @click="goHome">
        首页
      </span>
    </div>
    <div class="center">
      <span>智慧旅游可视化大数据展示平台</span>
    </div>
    <div class="right">
      <span>统计报告</span>
      <span>当前时间：{{ time }}</span>
    </div>
  </div>
</template>

<script setup lang='ts'>
  import { ref, onMounted, onBeforeUnmount } from "vue"
  import { useRouter } from "vue-router"
  import moment from "moment"
  let $router = useRouter();
  let time = ref(""),
    timer = ref(0);

  onMounted(() => {
    // getTime()
  })

  onBeforeUnmount(() => {
    clearInterval(timer.value)
  })
  const getTime = () => {
    timer.value = setInterval(() => {
      console.log(timer)
      time.value = moment().format("YYYY年MM月DD日 hh:mm:ss")
    }, 1000)
  }


  const goHome = () => {
    $router.push('/home')
  }
</script>

<style lang='scss' scoped>
  .header {
    display: flex;
    height: 100%;
    color: #6bb0ca;
    font-size: 20px;
    .left {
      flex: 1.5;
      background: url("../../../../assets/images/screen/dataScreen-header-left-bg.png") no-repeat;
      background-size: cover;
      text-align: right;
      .btn {
        display: inline-block;
        height: 100%;
        line-height: 60px;
        background:  url("../../../../assets/images/screen/dataScreen-header-btn-bg-l.png") no-repeat;
        background-size: 100% 100%;
        padding: 0 20px;
        cursor: pointer;
      }
    }
    .right {
      background: url("../../../../assets/images/screen/dataScreen-header-right-bg.png") no-repeat;
      flex: 1.5;
      background-size: cover;
      display: flex;
      justify-content: space-between;
      height: 60px;
      line-height: 60px;
      padding-right: 20px;
      span:first-child {
        padding: 0 20px;
        background:  url("../../../../assets/images/screen/dataScreen-header-btn-bg-r.png") no-repeat;
        background-size: 100% 100%;
      }

    }
    .center {
      background: url("../../../../assets/images/screen/dataScreen-header-center-bg.png") no-repeat;
      background-size: 100% 100%;
      flex: 2;
      font-size: 40px;
      text-align: center;
      height: 80px;
      line-height: 80px;
    }
  }
</style>