<template>
  <el-icon class="icon" @click="toggleBreadcrumb">
    <component :is="layoutStingStore.fold?'Expand':'Fold'"></component>
  </el-icon>
  <el-breadcrumb separator-icon="ArrowRight">
    <el-breadcrumb-item 
      v-for="item in $route.matched" :index="item.path" 
      v-show="item.meta.title"
      :to="item.path">
      <el-icon class="breadcrum_icon">
        <component :is="item.meta.icon" v-if="item.meta.icon"></component>
      </el-icon>
      <span class="breadcrum_title">{{ item.meta.title }}</span>
    </el-breadcrumb-item>
  </el-breadcrumb>
</template>

<script setup lang='ts'>
  import useLayoutStingStore from "../../../store/setting"
  import { useRoute } from "vue-router";

  let layoutStingStore = useLayoutStingStore()
  let $route = useRoute()
  // $route.matched 匹配搭到的路由（父路由+子路由）
  // console.log($route.matched)
  
  const toggleBreadcrumb = () => {
    layoutStingStore.fold = !layoutStingStore.fold;
  }
</script>
<script lang='ts'>
  export default {
    name: "Breadcrumb"
  }
</script>

<style lang='scss' scoped>
  .icon {
    margin-right: 10px;
  }
  .breadcrum_icon {
    vertical-align: middle;
  }
  .breadcrum_title {
    margin: 0 10px;
  }
</style>