<template>
  <el-button icon="Refresh" circle @click="refreshHandler" />
  <el-button icon="FullScreen" circle @click="fullScreen" />
  <el-popover
    placement="bottom"
    title="设置"
    :width="300"
    trigger="click">
    <el-form>
      <el-form-item label="主题颜色">
        <!-- 这里有问题，修改颜色需要点击确认按钮，而这里选完颜色框就关闭了，需要再次打开，点击确认按钮 -->
        <el-color-picker transfer @change="changeColor" v-model="color" />
      </el-form-item>
      <el-form-item label="暗黑模式">
        <el-switch
          @change="changeTheme"
          v-model="switchValue"
          inline-prompt
          active-icon="Moon"
          inactive-icon="Sunny"/>
      </el-form-item>
    </el-form>
    <template #reference>
      <el-button icon="Setting" circle />
    </template>
  </el-popover>
  <img class="avatar" :src="userStore.avatar" alt="">
  <el-dropdown>
    <span class="el-dropdown-link">
      {{ userStore.username }}
      <el-icon class="el-icon--right">
        <arrow-down />
      </el-icon>
    </span>
    <template #dropdown>
      <el-dropdown-menu>
        <el-dropdown-item @click="logout">退出登录</el-dropdown-item>
      </el-dropdown-menu>
    </template>
  </el-dropdown>
</template>

<script setup lang='ts'>
  import { ref } from "vue"
  import useLayoutSettingStore from "../../../store/setting"

  import { useRoute, useRouter, } from "vue-router"

  import useUserStore from '@/store/modules/user';
  let userStore = useUserStore();
  let $route = useRoute()
  let $router = useRouter()

  let layoutSettingStore = useLayoutSettingStore();
  const refreshHandler = () => {
    layoutSettingStore.refresh = !layoutSettingStore.refresh;
  }
  const fullScreen = () => {
    // DOM 对象的一个属性：可以用来判断当前是否是全屏模式（全屏：true，不是全屏：false）
    let full = document.fullscreenElement;
    //
    if(full) {
      // 退出全屏模式
      document.exitFullscreen();
    } else {
      // 切换为全屏模式
      // 文档根节点的方法 requestFullscreen ，实现全屏模式，但是存在浏览器兼容性问题
      document.documentElement.requestFullscreen();
    }
  }

  const logout = async () => {
    // 退出登录一般需要3个步骤
    // 1、调用退出接口，告诉服务端需要清除数据了
    // 2、处理缓存在store或者localstorage中的用户数据
    // 3、重定向到登录页面
    await userStore.logout();
    $router.push({path: "/login", query: { redirect: $route.fullPath }})
  }

  let color = ref('409EFF');
  let switchValue = ref(false);

  const changeTheme = () => {
    let html = document.documentElement;
    switchValue.value ? html.className="dark":html.className="";
    console.log(html)
  }
  const changeColor = () => {
    let html = document.documentElement;
    console.log(html.style)
    html.style.setProperty('--el-color-primary', color.value)
  }
</script>
<script lang='ts'>
  export default {
    name: "Setting"
  }
</script>

<style lang='scss' scoped>
  .avatar {
    width: 24px;
    height: 24px;
    margin: 0 16px;
  }
</style>