<template>
  <div class="logo_container" v-if="!setting.logoHidden">
    <img class="logo_pic" :src="setting.logo" alt="">
    <p v-show="!layoutStingStore.fold">{{ setting.title }}</p>
  </div>
</template>

<script setup lang='ts'>
  import setting from '@/setting';

  import useLayoutStingStore from "../../store/setting";
  let layoutStingStore = useLayoutStingStore()
</script>
<script lang='ts'>
  export default {
    name: "Logo"
  }
</script>

<style lang='scss' scoped>
  .logo_container {
    width: 100%;
    height: $base-menu-logo-height;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 16px 12px;
    .logo_pic {
      width: 40px;
      height: 40px;
    }
    p {
      font-size: $base-logo-title-fontSize;
      margin-left: 10px;
    }
  }
</style>