<template>
  <div>
   <Category></Category>
   <el-card class="m-t-10">
    <div v-show="!addAttrCur">
      <el-button v-has="'btn.Attr.add'" @click="addAttrHandler" class="m-b-10" type="primary" icon="Plus" :disabled="!categoryStore.c3Id">添加属性</el-button>
      <el-table border :data="attrArr">
        <el-table-column align="center" type="index" width="80" label="序号"></el-table-column>
        <el-table-column width="120" label="属性名称" prop="attrName"></el-table-column>
        <el-table-column label="属性值名称">
          <template #="{row}">
            <el-tag class="m-5" v-for="tag in row.attrValueList">{{ tag.valueName }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column width="160" label="操作">
          <template #="{row}">
            <el-button type="primary" icon="Edit" size="small" @click="updateAtr(row)"/>
            <el-popconfirm title="确定要删除属性吗？" @confirm="deleteAttr(row.id)" width="200">
              <template #reference>
                <el-button type="primary" icon="Delete" size="small" />
              </template>
            </el-popconfirm>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div v-show="addAttrCur">
      <el-form inline :model="attrParams">
        <el-form-item label="属性名字" prop="attrName">
          <el-input v-model="attrParams.attrName" placeholder="请输入属性的名字"></el-input>
        </el-form-item>
      </el-form>
      <div>
        <el-button type="primary" icon="Plus" :disabled="attrParams.attrName?false:true" @click="addAttr">添加属性值</el-button>
        <el-button>取消</el-button>
      </div>
      <el-table class="m-t-16" border :data="attrParams.attrValueList">
        <el-table-column label="序号" type="index" width="100"/>
        <el-table-column label="属性值">
          <template #="{row, $index}">
            <el-input :ref="(vc:any) => inputObj[$index] = vc" v-if="row.edit" @blur="toLook(row)" v-model="row.valueName"/>
            <div v-else @click="toEdit(row, $index)">{{ row.valueName }}</div>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="120">
          <template #="{ row, $index }">
            <el-button type="primary" size="small" icon="Delete" @click="attrParams.attrValueList.splice($index,1)"></el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="m-t-10">
        <el-button type="primary" :disabled="attrParams.attrValueList.length < 1" @click="save">保存</el-button>
        <el-button @click="addAttrCur = false">取消</el-button>
      </div>
    </div>
   </el-card>
  </div>
</template>

<script setup lang='ts'>
  import { watch, ref, reactive, nextTick, onBeforeUnmount } from "vue";
  import userCategoryStore from "@/store/modules/category";
  import { reqAttr, reqAddOrUpdateAttrInfo, reqDeleteAttr } from "@/apis/product/attr"
  import type { ResponseAttr, AttrObj } from "@/apis/product/attr/type"
  import { ElMessage } from "element-plus";

  let categoryStore = userCategoryStore()
  let attrArr = ref([])
  let addAttrCur = ref(false) 
  let attrParams = reactive<AttrObj>({
    attrName: "",
    attrValueList: [],
    categoryId: categoryStore.c3Id,
    categoryLevel: 3
  })
  let inputObj = ref<any>({})

  watch(() => categoryStore.c3Id, (newVal) => {
    if(newVal) {
      requestAttr()
    }
  })

  const requestAttr = async () => {
    attrArr.value = [];
    let result:ResponseAttr = await reqAttr(categoryStore.c1Id, categoryStore.c2Id, categoryStore.c3Id)
    if(result.code === 200) {
      attrArr.value = result.data;
    }
  }
  const addAttrHandler = () => {
    Object.assign(attrParams, {
      attrName: "",
      attrValueList: [],
      categoryId: categoryStore.c3Id,
      categoryLevel: 3
    })
    addAttrCur.value = true;
  }
  const addAttr = () => {
    attrParams.attrValueList.push({
      valueName: "",
      edit: true
    })
    // 使属性值input聚焦
    nextTick(() => {
      inputObj.value[attrParams.attrValueList.length - 1].focus();
    })
  }
  const save = async () => {
    let result = await reqAddOrUpdateAttrInfo(attrParams);
    if(result.code === 200 ) {
      addAttrCur.value = false;
      requestAttr()
      ElMessage({
        type: "success",
        message: attrParams.id ? "修改成功":"新增成功"
      })
    } else {
      ElMessage({
        type: "error",
        message: attrParams.id ? "修改失败":"新增失败"
      })
    }
  }

  const toLook = (row:any) => {
    if(row.valueName.trim() === "") {
      ElMessage({
        type: "warning",
        message: "属性值不能为空"
      })
      return false;
    }
    let repeat = attrParams.attrValueList.find(item => {
      if(item != row) {
        return item.valueName === row.valueName
      }
    })
    if(repeat) {
      ElMessage({
        type: "warning",
        message: "属性值不能重复"
      })
      return false;
    }

    row.edit = false
  }
  const toEdit = (row:any, index:number) => {
    row.edit = true;
    nextTick(() => {
      inputObj.value[index].focus();
    })
  }
  const updateAtr = (row:any) => {
    Object.assign(attrParams, JSON.parse(JSON.stringify(row)))
    addAttrCur.value = true;
  }

  const deleteAttr = async (id:number|string) => {
      let result:any = await reqDeleteAttr(id)
      if(result.code === 200) {
        ElMessage({
          type: "success",
          message: "删除成功"
        })
        requestAttr()
      } else {
        ElMessage({
          type: "error",
          message: "删除失败"
        })
      }
  }

  onBeforeUnmount(() => {
    categoryStore.$reset()
  })
</script>

<style lang='scss' scoped>

</style>