<template>
  <el-card class="card">
    <div class="home_top">
      <img class="m-l-16 m-r-16" :src="userStore.avatar" alt="">
      <div>
        <p class="username">{{ getTime() }}好，{{ userStore.username }}</p>
        <p class="title">{{ setting.title }}</p>
      </div>
    </div>
  </el-card>
  <!-- <span @click="add">{{ num }}</span> -->
  <div class="botton">
    <SvgIcon name="welcome" width="400" height="400"></SvgIcon>
  </div>
</template>
<!-- 组合式 API -->
<script setup lang='ts'>
  import setting from '@/setting';
  import { getTime } from "@/utils/time"

  import useUserStore from '@/store/modules/user';
  let userStore = useUserStore();
</script>
<!-- 选项式 API -->
<!-- <script lang='ts'>
  import setting from '@/setting';
  import { getTime } from "@/utils/time"

  import useUserStore from '@/store/modules/user';

  export default {
    data() {
      return {
        userStore: useUserStore(),
        setting: setting,
        getTime: getTime,
        num:0
      }
    },
    methods: {
      add() {
        this.num ++
      }
    }
  }
</script> -->

<style lang='scss' scoped>
  .home_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 80px;
      .username {
        font-weight: 700;
      }
      .title {
        color: #cecece;
        font-style: oblique;
      }
    }
  }
  .botton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
</style>