<template>
  <router-view></router-view>
</template>

<script setup lang="ts">
  // import SvgIcon from './components/SvgIcon.vue';
  import { onMounted } from "vue";
  // import request from "@/utils/request.ts"
  // onMounted(() => {
  //   request({
  //     url: "/user/login",
  //     method: "post",
  //     data: {
  //       username: 'admin',
  //       password: '111111'
  //     }
  //   }).then((res) => {
  //     console.log(res)
  //   })
  // })

  // import { reqLogin } from "./apis/user/index.ts"

  // onMounted(() => {
  //   reqLogin({username: "admin", password: "111111"}).then((res) => {
  //     console.log(res)
  //   })
  // })
</script>

<style scoped lang="scss">
</style>
