<template>
  <div class="login-container">
    <el-row>
      <el-col :span="12" :xs="0"></el-col>
      <el-col :span="12" :xs="24">
        <el-form class="login-form" :model="formData" :rules="loginRules" ref="loginForm">
          <h1>Hello</h1>
          <h2>欢迎来到硅谷甄选</h2>
          <el-form-item prop="username">
            <el-input v-model="formData.username" type="input" :prefix-icon="User"/>
          </el-form-item>
          <el-form-item prop="password">
            <el-input v-model="formData.password" type="password" :prefix-icon="Lock" show-password/>
          </el-form-item>
          <el-button :loading="loading" class="login-button" type="primary" @click="userLogin">登录</el-button>
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>

<script setup lang='ts'>
  // 引入 element-plus 中的图标
  import { User, Lock } from '@element-plus/icons-vue'
  import { reactive, ref } from "vue"
  // 引入user的状态管理
  import useUserStore from "@/store/modules/user"
  import { useRouter, useRoute } from "vue-router"
  //引入 element-plus 中的提示框方法
  import { ElMessage, ElNotification } from "element-plus";
  import { getTime } from "@/utils/time"
  let formData = reactive({ username: "admin", password: "atguigu123" });
  let userStore = useUserStore();
  // 获取路由器
  let $router = useRouter();
  let $route = useRoute();
  let loading = false;

  const validatorName = (rules: any, value: any, callBack: any) => {
    if(value.length >= 5) {
      callBack();
    } else {
      callBack(new Error("账号长度至少5位"))
    }
  }

  const validatorPassword = (rules: any, value: any, callBack: any) => {
    if(value.length >= 6) {
      callBack();
    } else {
      callBack(new Error("密码长度至少6位"))
    }
  }


  let loginForm = ref();
  // 表单校验规则
  const loginRules = {
    username: [
      // { required: true, min: 6, max: 10, message: "用户名个数需大于6小于10", trigger: "blur" }
      { triggler: "change", validator: validatorName }
    ],
    password: [
      // { required: true, min: 6, max: 15, message: "密码个数需大于6小于10", trigger: "blur" }
      { triggler: "change", validator: validatorPassword }
    ]
  }

  const userLogin = async () => {
    loading = true;
    await loginForm.value.validate()

    try {
      //登录成功后需要做的处理
      await userStore.login(formData);
      // 判断是否需要跳转到上次的页面
      let redirect:any = $route.query.redirect;
      $router.push({ path: redirect || "/" });
      ElNotification({
        type: "success",
        title: `Hi，${getTime()}好`,
        message: "欢迎回来"
      })
      loading = false;
    } catch(error) {
      ElMessage({
        type: "error",
        message: (error as Error).message
      })
      loading = false;
    }
  }
</script>

<style lang='scss' scoped>
.login-container {
  width: 100%;
  height: 100vh;
  background: url("@/assets/images/background.jpg") no-repeat;
  background-size: cover;
  .login-form {
    padding: 40px;
    position: relative;
    top: 30vh;
    background: url("@/assets/images/login_form.png") no-repeat;
    background-size: cover;
    margin-right: 10vw;
    h1 {
      color: #fff;
      font-size: 40px;
    }
    h2 {
      color: #fff;
      font-size: 20px;
      margin: 20px;
    }
    .login-button {
      width: 100%;
    }
  }
}
</style>