<template>
  <el-table
    :data="permissionData"
    row-key="id"
    border>
    <el-table-column prop="name" label="名称" />
    <el-table-column prop="code" label="权限值" />
    <el-table-column prop="updateTime" label="修改时间" />
    <el-table-column label="操作" width="240">
      <template #="{ row }">
        <el-button type="primary" size="small" :disabled="row.level === 4" @click="addOrUpdatePermisison('add', row)">{{ row.level === 3?'添加功能' : '添加菜单'}}</el-button>
        <el-button type="primary" size="small" :disabled="row.level === 1" @click="addOrUpdatePermisison('edit', row)">编辑</el-button>
        <el-popconfirm title="确定要删除当前权限菜单吗？" @confirm="deletePermission(row)">
          <template #reference>
            <el-button type="primary" size="small" :disabled="row.level === 1">删除</el-button>
          </template>
        </el-popconfirm>
      </template>
    </el-table-column>
  </el-table>

  <el-dialog
    v-model="permissionDialogVisible"
    :title="permissionFormData.id?'编辑':'添加'"
    width="30%">
    <el-form ref="permissionForm" :model="permissionFormData" :rules="rules" label-width="80">
      <el-form-item label="名称" prop="name">
        <el-input v-model="permissionFormData.name" placeholder="请填写名称"/>
      </el-form-item>
      <el-form-item label="权限值" prop="code">
        <el-input v-model="permissionFormData.code" placeholder="请填写权限值"/>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="permissionDialogVisible = false">取消</el-button>
        <el-button type="primary" @click="addOrUpdatePermission">
          确定
        </el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup lang='ts'>
  import { ref, onMounted, watch } from "vue"
  import { reqPermission, reqAddOrUpdatePermission, reqRemovePermission } from "@/apis/acl/permission"
  import type { ResponsePermission, PermissionData } from "@/apis/acl/permission/type"
import { ElMessage } from "element-plus";


  onMounted(() => {
    queryPermissionData()
  })
  
  let permissionData = ref<PermissionData[]>([])
  
  const queryPermissionData = async() => {
    let result:ResponsePermission = await reqPermission()
    if(result.code === 200) {
      permissionData.value = result.data;
    }
  }


  let permissionDialogVisible = ref(false),
    permissionFormData = ref<PermissionData>({
      name: "",
      code: "",
      id: undefined,
      pid: undefined,
      level: undefined
    }),
    permissionForm = ref()
  const rules = {
    name: [{ required: true, message:"名称不能为空",trigger: "blur" }],
    code: [{ required: true, message:"权限值不能为空",trigger: "blur" }]
  }

  watch(permissionDialogVisible, (newVal) => {
    if(!newVal) {
      Object.assign(permissionFormData.value, {
        name: "",
        code: "",
        id: undefined,
        pid: undefined,
        level: undefined
      })
    }
  })

  const addOrUpdatePermisison = (opreate:string, row:PermissionData) => {
    if(opreate === "add") {
      permissionFormData.value.pid = row.id;
      permissionFormData.value.level = (row.level as number) + 1
    } else {
      permissionFormData.value = JSON.parse(JSON.stringify(row));
    }
    permissionDialogVisible.value = true;
  }

  

  const addOrUpdatePermission = async () => {
    await permissionForm.value.validate()
    let result:any = await reqAddOrUpdatePermission(permissionFormData.value)
    if(result.code === 200) {
      permissionDialogVisible.value = false;
      ElMessage({
        type: "success",
        message: `${permissionFormData.value.id?'编辑':'添加'}菜单权限成功！`
      })
      queryPermissionData()
    } else {
      ElMessage({
        type: "error",
        message: `${permissionFormData.value.id?'编辑':'添加'}菜单权限失败！`
      })
    }
  }

  const deletePermission = async (row:any) => {
    let result:any = await reqRemovePermission(row.id)
    if(result.code === 200) {
      ElMessage({
        type: "success",
        message: "删除菜单权限成功！"
      })
      queryPermissionData()
    }
  }
</script>

<style lang='scss' scoped>

</style>