
<template>
  <template v-for="item in menuList">
    <el-menu-item @click="toRouter" v-if="!item.children && !item.meta.hidden" :index="item.path">
      <el-icon>
        <component :is="item.meta.icon"></component>
      </el-icon>
      <template #title>
        {{ item.meta.title }}
      </template>
    </el-menu-item>
    <el-menu-item @click="toRouter" v-if="item.children && item.children.length == 1 && !item.children[0].meta.hidden" :index="item.path">
      <el-icon>
        <component :is="item.children[0].meta.icon"></component>
      </el-icon>
      <template #title>
        {{ item.children[0].meta.title }}
      </template>
    </el-menu-item>
    <el-sub-menu v-if="item.children && item.children.length > 1" :index="item.path">      
      <template #title>
        <el-icon>
          <component :is="item.meta.icon"></component>
        </el-icon>
        <span>{{ item.meta.title }}</span>
      </template>
      <Menu :menuList="item.children"></Menu>
    </el-sub-menu>
  </template>
</template>

<script setup lang='ts'>
  import { useRouter } from "vue-router"
  let $router = useRouter();
  defineProps(["menuList"])
  const toRouter = (vc) => {
    $router.push(vc.index);
    // console.log(vc.index)
  }
</script>
<script lang="ts">
export default {
  name: "Menu"
}
</script>

<style lang='scss' scoped>

</style>