<template>
  <div class="layout_container">
    <div class="layout_slider" :class="{fold:layoutStingStore.fold}">
      <Logo></Logo>
      <el-scrollbar class="scrollbar">
        <!-- router 是否启用 vue-router 模式。 启用该模式会在激活导航时以 index 作为 path 进行路由跳转 使用  -->
        <el-menu :collapse="layoutStingStore.fold" class="el_menu" background-color="#04142f" text-color="#fff" :default-active="$route.fullPath">
        <!-- <el-menu router class="el_menu" background-color="#04142f" text-color="#fff"> -->
          <!-- <el-menu-item index="1">首页</el-menu-item>
          <el-menu-item index="2">数据大屏</el-menu-item>
          <el-sub-menu index="3">
            <template #title>权限管理</template>
            <el-menu-item index="3-1">item one</el-menu-item>
            <el-menu-item index="3-2">item two</el-menu-item>
            <el-menu-item index="3-3">item three</el-menu-item>
          </el-sub-menu> -->
          <Menu :menuList="userStore.menuRouters"></Menu>
        </el-menu>
      </el-scrollbar>
    </div>
    <div class="layout_Right" :class="{fold:layoutStingStore.fold}">
      <div class="layout_tabbar">
        <Tabbar></Tabbar>
      </div>
      <div class="layout_main">
        <Main></Main>
      </div>
    </div>
  </div>
</template>

<script setup lang='ts'>
  import { useRoute } from "vue-router"
  import Logo from "@/layout/logo/index.vue"
  import Menu from "@/layout/menu/index.vue"
  import userUserStore from "@/store/modules/user"
  import Main from "./main/index.vue"
  import Tabbar from "./tabbar/index.vue"
  import useLayoutStingStore from "../store/setting";
  let layoutStingStore = useLayoutStingStore()
  let userStore = userUserStore();
  let $route = useRoute();
</script>
<script lang='ts'>
  export default {
    name: "Layout"
  }
</script>

<style lang='scss' scoped>
  .layout_container {
    position: relative;
    width: 100%;
    height: 100vh;
    .layout_slider {
      width: $base-menu-width;
      background: $base-menu-background;
      height: 100vh;
      color: #fff;
      transition: all 0.3s;
      &.fold {
        width: $base-menu-min-width;
      }
      .scrollbar {
        height: calc(100vh - $base-menu-logo-height);
        .el_menu {
          border-right: 0;
        }
      }
    }
    .layout_Right {
      position: absolute;
      left: $base-menu-width;
      width: calc(100% - $base-menu-width);
      top: 0;
      transition: all 0.5ms;
      &.fold {
        width: calc(100% - $base-menu-min-width);;
        left: $base-menu-min-width;
      }
      .layout_tabbar {
        width: 100%;
        height: $base-tabbar-height;
      }
      .layout_main {
        width: 100%;
        height: calc(100vh - $base-tabbar-height);
        padding: 20px;
        // position: absolute;
        // top: $base-tabbar-height;
        // left: $base-menu-width;
        overflow-y: auto;
      }
    }
  }
</style>